body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}

h6 {
	color: red;
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

#languages {
	float: right;
	width: 14%;
	height: 12%;
}

#map {
	height: 500px;
	width: 800px;
}